catalogo/__pycache__/
catalogo/migrations/__pycache__/
core/__pycache__/
core/migrations/__pycache__/
checkout/__pycache__/
checkout/migrations/__pycache__/
pagina_obras/__pycache__/
pagina_obras/migrations/__pycache__/
