{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<section class="container my-5">
    <h2 class="mb-4 text-center">Selección de Obras</h2>

    <div class="row">
        <div id="empty-message" class="text-muted">
            {% if not obras %}<h4>No hay obras en la lista.</h4>{% endif %}
        </div>

        <div class="col-lg-8">
            <div class="row g-4">

                {% for obra in obras %}
                <div class="col-md-6" id="obra-{{ obra.id }}">
                    <div class="card obra-card">
                        <img src="{{ obra.imagen.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ obra.titulo }}</h5>
                            <p class="text-muted mb-1">Precio: ${{ obra.precio }}</p>
                            <a href="{% url 'obra' obra.id %}" class="btn btn-primary mt-2">Ver producto</a>
                            <form method="POST"
                                hx-post="{% url 'quitar_de_carrito' %}"
                                hx-trigger="submit"
                                hx-target="#obra-{{ obra.id }}"
                                hx-swap="outerHTML"
                            >
                                {% csrf_token %}
                                <input type="text" name="obra" value="{{ obra.id }}" class="d-none">
                                <input type="submit" class="btn btn-primary mt-2" value="Cancelar">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card sticky-top" style="top: 80px;">
                <div class="card-body">
                    <h5 class="card-title">Carrito</h5>

                    <ul id="lista-carrito" class="list-group mb-3"></ul>

                    <hr>
                    <div id="cart-total">
                        Total: ${{ monto_total }}
                    </div>

                    <form method="POST" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        <input type="submit" id="boton-pago" class="btn btn-success w-100 mt-3" {% if not obras %}disabled{% endif %} value="Proceder al Pago">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</section>
{% endblock %}
