{% extends 'core/base.html' %}

{% load static %}
{% block contenido %}
<section class="container contenido">
    <article class="mb-5">
        <h2>HOLA</h2>
        <h3>Soy Cristián Erré</h3>
        <h3>Te presento mi catálogo de cuadros para embellecer tu hermoso hogar.</h3>
    </article>

    <article class="mb-5 d-flex-column row justify-content-start text-start">
        <div class="col-10">
            <h2 class="ms-4">LIENZOS</h2>
            <p>Te presento mis hermosas obras de flora y fauna desde mi imaginario, creando estas RAREZAS COTIDIANAS SILVESTRES,
es una exporación creativa de seres combinados entre aves, flora terrestre y marina principalmente de la región del biobío.
Los dibujos estan hecho a mano QUIERO DECIR PINTADOS CADA UNO A PULSO ( SIN IMPRESIÓN, SIN XILO, SIN
SERIGRAFIA ) sobre papel de 300g ( papel firme ) Tamaño A3 (30x42 cm).
Pintados con tinta acrilicas y pincel. Bienvenidos a estas hermosas rarezas de obras unicas e irrepetibles.</p>
            <div>
                <img class="img-thumbnail p-2 m-2" src="{% static 'core/imagenes/lienzo1.PNG' %}" alt="img-lienzo">
                <img class="img-thumbnail p-2 m-2" src="{% static 'core/imagenes/lienzo2.PNG' %}" alt="img-lienzo">
            </div>
        </div>
    </article>

    <article class="mb-5 d-flex-column row justify-content-end text-end">
        <div class="col-10">
            <h2 class="me-4">IMPRESIONES A PAPEL</h2>
            <p> Las impresiones son sobre Papel fotográfico 220g 30x40 cm para impresión de alto color.</p>
            <div>
                <img class="img-thumbnail p-2 m-2" src="{% static 'core/imagenes/impresion1.PNG' %}" alt="img-impresion">
                <img class="img-thumbnail p-2 m-2" src="{% static 'core/imagenes/impresion2.PNG' %}" alt="img-impresion">
            </div>
        </div>
    </article>
</section>
{% endblock %}