{% extends 'core/base.html' %}

{% load static %}
{% block contenido %}
<section class="container contenido">
   <article class="mb-5"> 
    <h2>Sobre mí – Cristián Erré</h2> 
   </article>

   <article class="mb-5 d-flex-column row justify-content-start text-start">
    <p class="fs-4 border border-dark border-3">Soy Cristián Erré, pintor muralista y diseñador con enfoque en proyectos de interiorismo y arte aplicado a espacios habitables y comerciales.
    Cuento con experiencia en creación de murales, diseño visual y desarrollo artístico para interiores, 
    aportando identidad, carácter y una narrativa visual única a cada proyecto.
    </p>
    </article>
    <ul class="mb-5 d-flex-column row justify-content-start text-start  ">
      <li><h4 class="fs-5 fw-bold">Teléfono: +56 9 8278 8848</h4></li>
      <li><h4 class="fs-5 fw-bold">Email: holacristianerre@gmail.com</h4></li>
      <li><h4 class="fs-5 fw-bold">Facebook: <a href="https://www.facebook.com/errecristian" target="_blank">facebook.com/errecristian</a></h4></li>
      <li><h4 class="fs-5 fw-bold">Instagram: <a href="https://www.instagram.com/cristian_erre" target="_blank">@cristian_erre</a></h4></li>
   </ul>

</section>
{% endblock %}