{% extends 'core/base.html' %}

{% load static %}
{% block contenido %}
<section class="container contenido">
    <article class="mb-5">
    <h2>Pedidos</h2>
    </article>
    
    <article class="mb-5 d-flex-column row justify-content-start text-start">
        <p class="fs-4 border border-dark border-3">si esta interezado en realizar un pedido personalizado o estas interezado en uno mis lienzo, 
            impresiones o murales, por favor contáctame con una fotográfia del espacio a través de mis redes sociales o correo electrónico 
            para hacer un montaje digital para elegir la mejor opcion para su hogar</p>

</section>
{% endblock %}