body {
  background-color: rgb(255, 255, 255);
}

.oswald {
  font-family: "Oswald";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.logo {
    width: 100px;
}

.banner {
  height: 120px;
  overflow: hidden;
  background-size: cover;
  background-position: 107% 65%;
}

.footer {
  background-position: 50% -20%;
}

article .container {
  height: 200px;
}