{% extends 'core/base.html' %}
{% block contenido %}

<div class="container">
    {% if 'ok' in request.GET %}
        <button class="btn btn-primary"><a class="fs-4 text-light" href="/perfil/{{ usuario.id }}">Volver atrás</a></button>
    {% else %}
    <h2 class="fs-3 mb-4">Desea eliminar usuario "{{ usuario.nombre }}"?</h2>
    
    <form action="{% url 'eliminar_usuario'%}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary"><a class="fs-4 text-light" href="/usuarios/perfil">Volver atrás</a></button>
        <button class="btn btn-danger fs-4" type="submit">Eliminar usuario</button>
    </form>
    {% endif %}
</div>



{% endblock %}