{% extends 'usuarios/base.html' %}
{% block contenido %}

<div class="container">
    <div class="container row text-start mb-4">
        <h2><a href="/foro">← Volver atrás</a></h2>
    </div>

    <div class="container row">
        {% if usuario.imagen %}
        <img class="img-responsive col-3" src="{{ usuario.imagen.url }}" alt="perfil_usuario"> - 
        {% endif %}
        <h3 class="col-6">Sobrenombre usuario: {{ usuario.username }}</h3>
        <h3 class="col-6">Nombre: {{ usuario.nombre }} {{ usuario.apellidos }}</h3>
    </div>
    <h4 class="ps-4 p-3" >direccion: {{ usuario.direccion }}</h4>
    <h4 class="ps-4 p-3" >permisos: {{ request.user.get_all_permissions|join:", " }}</h4>

    <h2><a href="./eliminar/" class="text-danger">Eliminar usuario</a></h2>
</div>



{% endblock %}