{% extends 'core/base.html' %}
{% block contenido %}

<div class="container border border-2 p-3 px-5 rounded">
    <div class="container row text-start mb-4">
        <h2><a href="{% url 'home' %}" class="btn btn-secondary col-2">Volver atrás</a></h2>
    </div>

    <div class="container row">
        <h1 class="mb-4 row">Pérfil de Usuario</h1>
        <h3 class="row mb-4 fw-bold">Nombre: {{ usuario.nombre }} {{ usuario.apellidos }}</h3>
        <h3 class="row mb-4">Dirección: {{ usuario.direccion }}</h3>
    </div>

    <h2><a href="./eliminar/" class="btn btn-danger btn-lg">Eliminar usuario</a></h2>
</div>



{% endblock %}