{% extends 'catalogo/base.html' %}

{% load static %}
{% block contenido %}

<section class="contenido container">
    <h2>Catálogo {{ medio }}</h2>

    {% for o in page_obj.object_list %}
    {% if forloop.counter0|divisibleby:4 %}
        <div class="row mb-3">
    {% endif %}

    <div class="card mx-1" style="width: 18rem;">
        <a href="{% url 'obra' o.id %}"><img class="card-img-top" src="{{ o.imagen.url }}" alt="obra"></a>
        <div class="card-body">
            <h4 class="card-title text-start">{{ o.titulo }}</h4>
            <h5 class="card-title text-start">{{ o.precio }}$</h5>
            <h5 class="card-title text-start text-muted">Stock: {{ o.stock }}</h5>
            <a href="{% url 'obra' o.id %}" class="btn btn-primary mt-2">Ver producto</a>
        </div>
    </div>
    {% if forloop.counter|divisibleby:4 or forloop.last %}
        </div> 
    {% endif %}
    
    {% endfor %}

    <nav aria-label="Paginación" class="row mt-5">
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Anterior</span></li>
                {% endif %}


                {% for num in page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}


                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
                {% endif %}
            </ul>
        </nav>

</section>


{% endblock %}