{% extends 'core/base.html' %}

{% load static %}
{% block contenido %}

<section class="contenido container">
    <div class="row mb-3 justify-content-around">
        <a href="{% url 'catalogo' %}" class="btn btn-secondary col-2">Volver al catálogo</a>
        <div class="col-10"></div>
    </div>
    <div class="row mb-3 justify-content-around">
        <img class="img-fluid col-4" src="{{ obra.imagen_url }}" alt="obra">
        <div class="col-7">
            <h2>{{ obra.titulo }} <span class="text-muted fs-4">ID: {{ obra.id }}</span></h2>
            <h3 class="text-primary">Medio: {{ obra.medio }}</h3>
            <h5 class="text-muted">
                Etiquetas: 
                    {% for e in obra.etiquetas.all %}
                        {{ e.nombre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
            </h5>

            <hr>

            <h4 class="fs-5 mb-4 {% if publicacion.fuente_de_texto == 'oswald' %}oswald{% endif %}">{{ publicacion.descripcion }}</h4>
            <h3 class="text-success">{{ obra.estado }} | Precio: ${{ obra.precio }}</h3>
            {% if user.is_authenticated %}
            <form
                hx-post="{% url 'add_to_carrito' %}"
                hx-trigger="submit"
                hx-swap="none"
            >
                {% csrf_token %}
                <input type="text" name="obra" value="{{ obra.id }}" class="d-none">
                <input type="submit" class="btn btn-primary mt-2" value="Añadir a Carrito" {% if obra.estado != "Disponible" %} disabled {% endif %}>
            </form>
            {% endif %}

            <div class="row justify-content-center mt-2">
                {% if perms.catalogo.change_obra %}
                <a class="btn btn-warning mx-2 col-2" href="{% url 'editar_obra' obra.id %}">Editar Obra</a>
                {% endif %}
                {% if perms.catalogo.delete_obra %}
                <a class="btn btn-danger mx-2 col-2" href="{% url 'eliminar_obra' obra.id %}">Eliminar Obra</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</section>
{% endblock %}